
</div>
<div class="footer-padding"></div>
  <div class="footer" style="position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;">
    <p>Made with ❤️ by karlito1501</p>
  </div>
</div>
</body>
</html>
