<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=11"/>
  <meta http-equiv="Cache-Control" content="no-cache"/>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self';"/>

</head>

<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand">BLOG</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li id="home"><a href="/">HOME</a></li>
      <li id="about"><a href="/about">ABOUT</a></li>
      <li id="contact"><a href="/contact">CONTACT</a></li>
      <% try {%>
      <% if (compose) { %>
        <li id="compose"><a href="/compose">COMPOSE</a></li>
      <% } %>
      <% } catch(err) {%>
      <% }%>
      <li id="login"><a href="/login">LOGIN</a></li>
    </ul>
  </div>
</nav>
<div class="container">
