<%- include('partials/header') %>

<style>
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #f8f9fa;
    }
    h1,
    h2 {
        font-weight: 700;
        color: #343a40;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.5rem;
        color: #6c757d;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1>About Me</h1>

            <p>Hello, my name is Karl and welcome to my blog!</p>

            <p>This blog was created to showcase my skills and projects that I have developed so far. I have a passion for coding and I love to build things that are both functional and beautiful. I am constantly learning new skills and exploring new technologies to improve my craft.</p>

            <h2>My Skills</h2>

            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Python</li>
                <li>Java</li>
                <li>C++</li>
            </ul>

            <h2>My Projects</h2>

            <p>I have posted my projects on this blog so it's easier to check them out!</p>
            <p>If you want to see source code visit my <a href="https://github.com/karlo292">github</a></p>



            <p>Feel free to check out my projects and let me know what you think!</p>

            <h2>Contact Me</h2>

            <p>If you would like to get in touch with me, please don't hesitate to reach out!</p>

            <ul>
                <li>Email: karlito1501@gmail.com</li>
                <li>Discord: karlito1501#0179</li>
            </ul>

            <p>Thank you for visiting my blog!</p>

        </div>
    </div>
</div>

<%- include('partials/footer') %>