<%- include('partials/header') %>

<h1>Contact</h1>
<h3>You can contact me on discord or via email!</h3>
<h4 style="padding-left: 1rem;">Discord: karlito1501#0179</h4>
<h4 style="padding-left: 1rem;">Email: karlito1501@gmail.com</h4>

<%- include('partials/footer') %>